body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #4caf50;
	color: white;
	padding: 10px 0;
	text-align: center;
}

main {
	padding: 20px;
}

footer {
	background-color: #f1f1f1;
	text-align: center;
	padding: 10px 0;
	position: relative;
	bottom: 0;
	width: 100%;
}

.docker-logo {
	width: 100px;
	transition: transform 0.3s, filter 0.3s;
}

.docker-logo:hover {
	transform: scale(1.2) translateY(-10px);
	filter: hue-rotate(90deg);
}
